body {
  background-color: aliceblue;
}
button {
  background: none;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 66%;
  margin: auto;
}

.gradient {
  background-image: linear-gradient(to right, #bbdcde, #58a1c3);
}
