{% extends "_base.html" %} {% block content %}
<h1>Minusta</h1>
<p class="important">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium
  malesuada laoreet. Duis scelerisque neque leo, at rutrum ipsum interdum in.
  Phasellus justo enim, efficitur ultrices ligula eget, blandit mollis nulla.
  Cras non ultricies est. Maecenas purus mi, luctus eu ullamcorper in, eleifend
  ut justo. Proin mollis ac nulla malesuada posuere. Nulla viverra dolor vitae
  turpis convallis, consequat consectetur sapien varius.
</p>
<figure>
  <img
    src="./img/minusta1.jpg"
    class="figure-img img-fluid"
    alt="Kuva naisesta istumassa katselemassa Norjan vuonomaisemaa"
  />
  <figcaption class="figure-caption">
    Tässä kuvassa istun kiven päällä katselemassa Norjan vuonoa syksyllä 2023.
  </figcaption>
</figure>
<p class="important">
  Maecenas quis libero nulla. Vestibulum feugiat, nulla sit amet porttitor
  pretium, turpis ligula suscipit risus, at aliquet metus ligula a ante. Ut
  fermentum augue augue, id egestas nisl tincidunt ut. Aenean in felis quis
  sapien mattis elementum. Phasellus imperdiet arcu dui, id porta dolor
  pellentesque non. Maecenas ultrices justo in augue eleifend, id lobortis lacus
  rhoncus. Donec ut rhoncus tortor, nec rhoncus arcu. Sed tincidunt elementum
  nulla, et ullamcorper leo tincidunt sed. Vestibulum at ex auctor, lacinia
  massa sed, commodo purus. Nam ultricies risus a ex venenatis varius. Praesent
  auctor neque massa, vel pulvinar orci iaculis vel. Duis pellentesque purus
  sapien, eu dignissim felis porttitor et. Etiam rutrum dui ac eros auctor
  sollicitudin. Mauris vitae ex ac massa accumsan egestas.
</p>
{% endblock %}
