{% extends "_base.html" %} {% block content %}
<h1>Blogi</h1>
<div class="how-section1">
  <div class="row">
    <div class="col-md-6 how-img">
      <figure>
        <img src="./img/blogi1.jpg" class="figure-img img-fluid" alt="Öinen kuva satamasta Tromssassa" />
        <figcaption class="figure-caption">Kuvaa kuvaileva teksti.</figcaption>
      </figure>
    </div>
    <div class="col-md-6">
  </div>
  <h2>Suunnitelmia tuleville matkoille</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus
        mauris sed sem pharetra, eu congue lorem interdum. Mauris scelerisque
        venenatis sem, sit amet congue ex rhoncus nec. Pellentesque in posuere
        purus. Maecenas rhoncus enim lacus, et porttitor sapien semper id. Morbi
        bibendum fermentum enim a lobortis. Mauris accumsan tellus a sem ornare
        rutrum. Donec et pharetra felis. Sed sollicitudin ex ipsum, a semper
        velit tincidunt a. Praesent risus velit, ultricies a est non, porta
        finibus leo. Nam ullamcorper orci nec nibh tempor hendrerit.
      </p>
      <p>
        Phasellus interdum porta efficitur. Suspendisse eu nisl risus.
        Suspendisse bibendum tristique sem ut auctor. Nulla non tempor risus.
        Phasellus ut volutpat nunc. Sed id augue bibendum, facilisis nulla sed,
        facilisis odio. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Mauris suscipit condimentum odio
        id auctor. Donec velit sapien, pharetra sit amet dui sit amet, bibendum
        pharetra ipsum. Curabitur ultrices rutrum tellus nec scelerisque. Nullam
        enim sem, auctor non iaculis ac, tincidunt et sem. Phasellus eu libero
        volutpat, feugiat enim in, efficitur purus. Donec dignissim lacus ut
        turpis pharetra, id convallis urna porttitor. Vestibulum eu tellus in
        metus interdum rutrum. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
      <p>
        Nullam bibendum dui ac cursus rhoncus. Aliquam ante orci, ornare vitae
        sem in, bibendum porta turpis. Maecenas rhoncus in sapien ut hendrerit.
        Aenean ac turpis urna. Fusce non lacinia erat, facilisis dignissim
        lectus. Integer in velit aliquam, malesuada odio quis, dictum enim.
        Mauris ut ipsum sed risus pellentesque suscipit. Fusce lacinia ex sed
        tortor pellentesque malesuada. Maecenas fringilla mi enim, ut finibus
        erat sagittis non. Proin scelerisque ante non tincidunt bibendum.
      </p>
      <p>
        Donec ultricies sem nunc, accumsan vestibulum tortor venenatis eu.
        Aliquam elementum eget neque eget porta. Etiam et orci quis mi imperdiet
        feugiat placerat pulvinar sapien. Nunc venenatis sem eu turpis euismod
        viverra. In vel felis turpis. Donec feugiat lectus eget posuere
        porttitor. Pellentesque sodales id arcu at tincidunt. Sed at mauris a
        ante consectetur accumsan sit amet in metus. Cras ipsum felis, blandit
        quis luctus in, suscipit in nibh. Duis luctus feugiat diam eget
        convallis. Duis a lectus quis metus rhoncus ultrices. Aliquam ut
        hendrerit erat. Suspendisse ut odio vel nisi aliquet pharetra et sed
        mauris. Nulla eu massa nunc. Ut in eros id ante imperdiet eleifend et eu
        ex. In ornare dapibus leo eu tincidunt.
      </p>
      <h2>Mietiskelyä lentomatkailun ympäristövaikutuksista</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempus
        mauris sed sem pharetra, eu congue lorem interdum. Mauris scelerisque
        venenatis sem, sit amet congue ex rhoncus nec. Pellentesque in posuere
        purus. Maecenas rhoncus enim lacus, et porttitor sapien semper id. Morbi
        bibendum fermentum enim a lobortis. Mauris accumsan tellus a sem ornare
        rutrum. Donec et pharetra felis. Sed sollicitudin ex ipsum, a semper
        velit tincidunt a. Praesent risus velit, ultricies a est non, porta
        finibus leo. Nam ullamcorper orci nec nibh tempor hendrerit.
      </p>
      <p>
        Phasellus interdum porta efficitur. Suspendisse eu nisl risus.
        Suspendisse bibendum tristique sem ut auctor. Nulla non tempor risus.
        Phasellus ut volutpat nunc. Sed id augue bibendum, facilisis nulla sed,
        facilisis odio. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Mauris suscipit condimentum odio
        id auctor. Donec velit sapien, pharetra sit amet dui sit amet, bibendum
        pharetra ipsum. Curabitur ultrices rutrum tellus nec scelerisque. Nullam
        enim sem, auctor non iaculis ac, tincidunt et sem. Phasellus eu libero
        volutpat, feugiat enim in, efficitur purus. Donec dignissim lacus ut
        turpis pharetra, id convallis urna porttitor. Vestibulum eu tellus in
        metus interdum rutrum. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
      <p>
        Nullam bibendum dui ac cursus rhoncus. Aliquam ante orci, ornare vitae
        sem in, bibendum porta turpis. Maecenas rhoncus in sapien ut hendrerit.
        Aenean ac turpis urna. Fusce non lacinia erat, facilisis dignissim
        lectus. Integer in velit aliquam, malesuada odio quis, dictum enim.
        Mauris ut ipsum sed risus pellentesque suscipit. Fusce lacinia ex sed
        tortor pellentesque malesuada. Maecenas fringilla mi enim, ut finibus
        erat sagittis non. Proin scelerisque ante non tincidunt bibendum.
      </p>
      <p>
        Donec ultricies sem nunc, accumsan vestibulum tortor venenatis eu.
        Aliquam elementum eget neque eget porta. Etiam et orci quis mi imperdiet
        feugiat placerat pulvinar sapien. Nunc venenatis sem eu turpis euismod
        viverra. In vel felis turpis. Donec feugiat lectus eget posuere
        porttitor. Pellentesque sodales id arcu at tincidunt. Sed at mauris a
        ante consectetur accumsan sit amet in metus. Cras ipsum felis, blandit
        quis luctus in, suscipit in nibh. Duis luctus feugiat diam eget
        convallis. Duis a lectus quis metus rhoncus ultrices. Aliquam ut
        hendrerit erat. Suspendisse ut odio vel nisi aliquet pharetra et sed
        mauris. Nulla eu massa nunc. Ut in eros id ante imperdiet eleifend et eu
        ex. In ornare dapibus leo eu tincidunt.
      </p>
      {% endblock %}
    </div>
  </div>
</div>
