{% extends "_base.html" %} {% block content %}
<h1>Madrid</h1>

<div class="how-section1">
  <div class="row">
    <div class="col-md-6 how-img">
      <figure>
        <img
          src="./img/madrid1.jpg"
          class="figure-img img-fluid"
          alt="Kuva kristallipalatsista Madridissa"
        />
        <figcaption class="figure-caption">Kuvaa kuvaileva teksti.</figcaption>
      </figure>
    </div>
    <div class="col-md-6">
      <h4>Tekemistä ja näkemistä</h4>
      <p class="text-muted">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet
        sapien feugiat, congue lectus vel, aliquam lacus. Curabitur eu blandit
        enim. Vestibulum consequat posuere luctus. Sed facilisis, erat eu
        molestie elementum, diam lacus sagittis elit, vitae aliquet libero justo
        vel sapien. Nullam tempus tristique orci, eget porttitor odio hendrerit
        a. Nullam efficitur nibh in ultrices dapibus. In ut enim semper,
        dignissim purus a, eleifend nunc. Aliquam eget est nulla. Fusce
        fringilla faucibus pellentesque. Nulla mattis nisl sed quam pellentesque
        elementum. Suspendisse eu mi mauris.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Syömistä</h4>
      <p class="text-muted">
        Pellentesque ex lorem, vulputate a nulla in, pretium ultricies metus.
        Maecenas in lectus lobortis ex hendrerit laoreet. In blandit, justo at
        accumsan aliquam, orci ligula sodales nisl, at rutrum purus lorem vitae
        mi. In ultrices lectus vitae ultrices bibendum. Aliquam erat volutpat.
        Etiam dictum bibendum purus, in sodales ante egestas ut. Phasellus
        cursus euismod ullamcorper. Fusce orci urna, malesuada eget ultrices id,
        sollicitudin vel eros. Phasellus at elit posuere diam egestas fringilla
        gravida et odio. Donec congue in tellus eget elementum. Fusce a libero
        pretium, bibendum est viverra, pellentesque risus. Donec sit amet sapien
        massa. Donec venenatis est leo, a dictum ante rhoncus pellentesque.
        Nullam blandit convallis mattis. Duis placerat id augue nec vulputate.
      </p>
    </div>
    <div class="col-md-6 how-img">
      <figure>
        <img
          src="./img/madrid2.jpg"
          class="figure-img img-fluid"
          alt="Kuva kukkaistutuksista Madridissa"
        />
        <figcaption class="figure-caption">Kuvaa kuvaileva teksti.</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 how-img">
      <figure>
        <img
          src="./img/madrid3.jpg"
          class="figure-img img-fluid"
          alt="Maisemakuva Madridista"
        />
        <figcaption class="figure-caption">Kuvaa kuvaileva teksti.</figcaption>
      </figure>
    </div>
    <div class="col-md-6">
      <h4>Kulkeminen</h4>
      <p class="text-muted">
        Cras quis egestas velit. Suspendisse vehicula facilisis pulvinar.
        Phasellus vel enim eget massa suscipit luctus. Etiam varius dignissim
        orci vitae lobortis. Suspendisse sodales metus nec aliquam blandit.
        Proin nec semper eros, et sodales nibh. Duis eu ante sed ligula aliquam
        mattis. Aenean non volutpat ligula, eget laoreet erat. In vel ultricies
        nisl. Sed aliquet tellus libero, nec bibendum tellus placerat ut.
        Praesent porttitor laoreet purus in facilisis. Vestibulum pellentesque
        mauris vitae neque laoreet, non luctus elit tincidunt. Curabitur ac
        felis sem. Sed molestie enim condimentum ipsum malesuada, sit amet
        laoreet metus finibus.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Majoittuminen</h4>
      <p class="text-muted">
        Nullam eleifend purus lacus. Phasellus dictum odio sed nunc eleifend
        faucibus. Suspendisse potenti. Duis orci nibh, volutpat id posuere
        vitae, consequat ut turpis. Proin nec mauris mollis, pellentesque magna
        a, efficitur diam. Pellentesque id dignissim nunc, sed fringilla elit.
        Curabitur vel bibendum nisl. Fusce ac tempor nunc. Aenean condimentum
        risus eget elit scelerisque condimentum. Etiam pellentesque arcu in
        viverra maximus. Duis justo dui, scelerisque eu lectus eu, condimentum
        mollis augue. Sed sed ipsum congue, condimentum leo quis, tristique
        ante.
      </p>
    </div>
    <div class="col-md-6 how-img">
      <figure>
        <img
          src="./img/madrid4.jpg"
          class="figure-img img-fluid"
          alt="Maisemakuva Madridista"
        />
        <figcaption class="figure-caption">Kuvaa kuvaileva teksti.</figcaption>
      </figure>
    </div>
  </div>
</div>

{% endblock %}
