{% extends "_base.html" %} {% block content %}
<h2>Matkakartta</h2>
<figure>
  <img
    src="./img/map.jpg"
    class="figure-img img-fluid"
    alt="GoogleMaps karttakuva, jossa keltaisilla ja vihreillä tähdillä merkittyjä paikkoja"
  />
  <figcaption class="figure-caption">
    Tässä kuvassa on kartta, jossa keltaisella tähdellä merkityt paikat ovat
    kohteita, joissa on käyty ja vihreillä tähdillä merkityt kohteet ovat
    paikkoja, joissa on suunnitteilla käydä.
  </figcaption>
</figure>
{% endblock %}
