{% extends "_base.html" %} {% block content %}
<h1>Vinkkejä</h1>
<p class="important">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium
  malesuada laoreet. Duis scelerisque neque leo, at rutrum ipsum interdum in.
  Phasellus justo enim, efficitur ultrices ligula eget, blandit mollis nulla.
  Cras non ultricies est. Maecenas purus mi, luctus eu ullamcorper in, eleifend
  ut justo. Proin mollis ac nulla malesuada posuere. Nulla viverra dolor vitae
  turpis convallis, consequat consectetur sapien varius.
</p>
<h2>Pakkaaminen</h2>
<p class="important">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium
  malesuada laoreet. Duis scelerisque neque leo, at rutrum ipsum interdum in.
</p>
<div class="how-section1">
  <div class="row">
    <div class="col-md-6 how-img">
      <figure>
        <img
          src="./img/luggage.jpg"
          class="figure-img img-fluid"
          alt="kuva avoimesta täyteen pakatusta matkalaukusta"
        />
        <figcaption class="figure-caption">Kuvaa kuvaileva teksti.</figcaption>
      </figure>
    </div>
    <div class="col-md-6"></div>
    <p class="important">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium
      malesuada laoreet. Duis scelerisque neque leo, at rutrum ipsum interdum
      in. Phasellus justo enim, efficitur ultrices ligula eget, blandit mollis
      nulla. Cras non ultricies est. Maecenas purus mi, luctus eu ullamcorper
      in, eleifend ut justo. Proin mollis ac nulla malesuada posuere. Nulla
      viverra dolor vitae turpis convallis, consequat consectetur sapien varius.
    </p>
    <h2>Lentokentällä</h2>
    <p class="important">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium
      malesuada laoreet. Duis scelerisque neque leo, at rutrum ipsum interdum
      in.
    </p>
    <div class="how-section1">
      <div class="row">
        <div class="col-md-6 how-img">
          <figure>
            <img
              src="./img/airport.jpg"
              class="figure-img img-fluid"
              alt="kuva turisteista lentokentällä"
            />
            <figcaption class="figure-caption">
              Kuvaa kuvaileva teksti.
            </figcaption>
          </figure>
        </div>
        <div class="col-md-6"></div>
        <p class="important">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pretium
          malesuada laoreet. Duis scelerisque neque leo, at rutrum ipsum
          interdum in. Phasellus justo enim, efficitur ultrices ligula eget,
          blandit mollis nulla. Cras non ultricies est. Maecenas purus mi,
          luctus eu ullamcorper in, eleifend ut justo. Proin mollis ac nulla
          malesuada posuere. Nulla viverra dolor vitae turpis convallis,
          consequat consectetur sapien varius.
        </p>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
